{% assign weekday = include.date | date: "%w" %}
{% assign month = include.date | date: "%m" %}
{% case weekday %}
  {% when '0' %}So.,
  {% when '1' %}Mo.,
  {% when '2' %}Di.,
  {% when '3' %}Mi.,
  {% when '4' %}Do.,
  {% when '5' %}Fr.,
  {% when '6' %}Sa.,
{% endcase %}
{{ include.date | date: "den %d." }}
{% case month %}
  {% when '01' %}Januar
  {% when '02' %}Februar
  {% when '03' %}M&auml;rz
  {% when '04' %}April
  {% when '05' %}Mai
  {% when '06' %}Juni
  {% when '07' %}Juli
  {% when '08' %}August
  {% when '09' %}September
  {% when '10' %}Oktober
  {% when '11' %}November
  {% when '12' %}Dezember
{% endcase %}
{{ include.date | date: "%Y" }}